.App {
  text-align: center;
}

.scoreBoard {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  li {
    width: 5rem;
    height: 5rem;
    background: mediumslateblue;
    border: 3px solid gray;
    display: flex;
    justify-content: flex-end;

    .modifier {
      width: 2rem;
      height: 2rem;
      background: lightblue;
      border: 2px solid gray;
    }

    .score  {
      align-self: flex-end;
      font-size: 2rem
    }
  }
}